<template>
  <div class="home">
    <img src="@/assets/logo.png">
     <Container></Container>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Container from '@/components/{{properCase viewName }}/index.vue'; // @ is an alias to /src

@Component({
  components: {
    Container,
  },
})
export default class Home extends Vue { }
</script>